body{ background-image: url("https://p1.pxfuel.com/preview/246/692/2/background-pattern-texture-color.jpg");;}
.title {
    color: white;
    text-align: center;
    font-size: 50px;
  }

.card{
  background-color: whitesmoke;
  width: 200px;
  height: 260px;
  text-align: center;
}
.image{
  height: 130px;
  width: 170px;
  padding-top: 15px;
  
}

.movieName{
  font-size: 16px;
  width: auto;
}
.sentence{
  font-size: 12px;
  width: auto;
  padding: 10px, 10px;
 
}
.no{
  text-decoration:none;
  color:black;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 16px;
  text-decoration:none;
  
}

.formFilters{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.formFilterName{
  padding-right: 60px;
}
.label{
  color: white;
  font-size: 20px;
  
}
.labelMovie{
  color: white;
  font-size: 20px;
  padding-right: 80px;
}

